/* 
Global Settings
*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
Navbar Styles
*/

.navbar {
  display: flex;
  background-color: blue;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

/* 
SECTION 1
*/

.hero-section {
  display: flex;
  align-items: center;
}

/* Left Card */

.left-card {
  width: 30vh;
  height: 300px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.left-card-image {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
}

/* Right Card */
.right-card {
  width: 60%;
  height: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: pink;
  border-radius: 10px;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.text-area {
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

/* Cards Section */
.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.card-content {
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.cards-section h3,
.cards-section p {
  font-size: medium;
  font-weight: 400;
}

/* Card Colors */
.card-1 {
  background-color: aqua;
}

.card-2 {
  background-color: blueviolet;
}

.card-3 {
  background-color: pink;
}

.card-4 {
  background-color: black;
}
